/*Color palette
main color: #E1E8EC
secondary color: #99D8DD
darker color: #5CB3C1
darkest color: #01587A
accent color: #F3BA00

*/
/*
a {
  text-decoration: none;
  color: #333;
}

button {
  cursor: pointer;
}

.headder {
  display: flex;
  margin: 0;
  padding: 20px 0 20px 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #01587a;
  position: absolute;
}

.navigationMenu {
  width: 30%;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
}
nav a {
  font-size: 0.9rem;
  color: #fff;
}
nav a.active {
  color: #f3ba00;
}

.LogInBtn {
  height: 30px;
  border-radius: 25px;
  background-color: #5cb3c1;
}
*/
.page {
  margin: 80px auto;
  width: 90%;
  min-height: 50vh;
  justify-content: center;
}
.product-card-popOut {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
  max-width: 900px;
  height: 70%;
  max-height: 90vh;

  background: white;
  border-radius: 16px;

  z-index: 1000;

  overflow-y: auto;

  box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.35),
    0 8px 20px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
}
.product-card-popOut-images {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
}
.product-card-popOut img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-info {
  width: 50%;
}
.product-card-popOut h2 {
  color: black;
  font-size: 36px;
}

.product-card-popOut p {
  padding: 10px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
.bd-mode-toggle .bi {
  width: 1em;
  height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
footer {
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 800px) {
  .headder a {
    font-size: 16px;
  }
  .product-card-popOut {
    flex-direction: column;
    width: 95%;
    max-height: 90vh;
    overflow-y: auto;
    margin: auto;
    justify-content: center;
    overflow: scroll;
  }
  .product-info {
    width: 100%;
  }
  .product-card-popOut-images img {
    height: 250px;
    object-fit: contain;
  }
  .cart-item-product-info {
    flex-direction: column;
  }
  .cart-item {
    margin-bottom: 20px;
  }
  .contact {
    flex-direction: column;
  }
  .contact-right iframe {
    width: 100%;
  }
}
